.titleContainer div {
    margin-top: 300px;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btnContainer{
    padding: 8px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    outline: none;
    background-color: #6496e9;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 50px;
}